# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Jetbrains IDEs
../.idea/

# NDK stuff
out/
[Ll]ib/
[Ll]ibs/
[Oo]bj/
[Oo]bjs/
ndkpath.txt
*.zip
*.txt
*.log
Android.mk.backup

# QPM stuff
[Ee]xtern/
*.qmod
qpm.shared.json
qpm_defines.cmake
![Cc][Mm]ake[Ll]ists.txt

# CMake stuff
[Bb]uild/
cmake-build-*/
extern.cmake

mod.template.json
*.ps1
