# Style "cscpp"
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
Cpp11BracedListStyle: true
BasedOnStyle: LLVM
IndentWidth: 4
NamespaceIndentation: All
